*.log
*.bin
*.settings
*.ai
.project
/yii/*
/test/*
/assets/
protected/config/params.php
protected/config/db.php
protected/config/dbStore.php
protected/config/rc.php
protected/config/eauth.php
protected/config/routes.php
protected/config/mongo.php
protected/runtime/*
uploads/
*.ykomodoproject
/nbproject/private/
/.komodotools/
*.xml
*.properties
nbproject/
/.idea/
/index.php
themes/mobispot/views/mail/
protected/modules/mobile/MobileModule.php
/stats/*
protected/controllers/SpotController.php
protected/messages
mobispot.sublime*
.phptidy-cache
robot.txt
