*.log
*.bin
*.settings
*.ai
.project
/nbproject/*
.htpasswd
robots.txt
sitemap.xml
sitemap.xml.gz
/yii/*
/test/*
/assets/
protected/config/params.php
protected/config/db.php
protected/config/dbPayment.php
protected/config/dbStore.php
protected/config/dbTerm.php
protected/config/dbPayment.php
/protected/config/dbStack.php
protected/config/rc.php
protected/config/eauth.php
protected/config/routes.php
protected/config/ut.php
protected/runtime/*
protected/messages/
uploads/
*.properties
themes/mobispot/views/mail/
protected/modules/mobile/MobileModule.php
/stats/*
mobispot.sublime*
.phptidy-cache
robot.txt
/console.php
/index.php
/nbproject/private/
