input.error {
    border: 1px solid #C60F13;
    background:none;
    color: rgba(0, 0, 0, 0.75);
}
<<<<<<< HEAD
=======

a {
    cursor: pointer;
}

.hide {
    display: none;
    opacity: 0;
}

a.m-link {
    font-family: Mobispot;
    font-size: 20px;
}
>>>>>>> 8b10548caa50f2c0440468b81b323652e2cb5569
