.spot-button,
.button{
	background-color: #EBEBEC;
	color: #000000;
	font-family: Mobispot,Arial,"Helvetica",Helvetica,sans-serif;
	font-size: 18px;
	display: inline-block;
	background-repeat: no-repeat;
	position: relative;
}
.bg-gray .button,
.bg-gray .spot-button{
	background-color: #fff;
}
.bg-gray input,
.bg-gray textarea,
.bg-gray .soc-link a{
	background-color: #fff;
}

.spot-button{
	-webkot-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	font-size: 18px;
	font-weight: 100;
	height: 45px;
	line-height: 27px;
	padding: 9px 11px;
	margin-bottom: 14px;
}
.row__head-slider .spot-button{
	background-color: #e9fbfd;
	background-color: rgba(241, 243, 244, 0.6);
}
.button:hover,
.button.active,
.button.open,
.spot-button:hover,
.spot-button.active,
.spot-button.open{
	background-color: #0061FF;
	color: #fff;
}

.store-items__description .spot-button:hover,
.choose li.active{
	background-color: #2b46ff;
	color: #fff;
}
.round-button-large{
	display: inline-block;
	height: 230px;
	width: 230px;
	line-height: 230px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #EBEBEC;
	color: #000;
	font-size: 48px;
	font-family: Mobispot, Arial, sans-serif;
	margin: 83px 0 102px;
}
.bg-gray .round-button-large{
	background-color: #fff;
}
.round-button-large:hover{
	background-color: #0061ff;
	color: #fff;
}
.total-order + .round-button-large {
	margin: 83px 0 31px;
}
.total-amount .spot-button{
	position: absolute;
	right: 0;
	bottom: 37px;
	padding: 4px 26px 2px;
}
.customer-info .spot-button{
	margin-top: 20px;
	padding: 4px 42px 2px;
}
.button.add-spot{
	height: 60px;
	width: 60px;
	line-height: 60px;
	background-position: -173px 15px;
}
.button.add-spot:hover,
.button.add-spot.active{
	background-position: -225px 15px;
}
.radio-link i{
	display: inline-block;
	height: 14px;
	width: 14px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	border: 3px solid #0062ff;
	margin-right: 7px;
	position: relative;
	top:2px
}
.radio-link i.large{
	height: 19px;
	width: 19px;
	top:4px;
	margin-right: 11px;
}
.checkbox{
	font-size: 14px;
}
.checkbox.active{
	color: #0061FF;
}
.checkbox i{
	display: inline-block;
	height: 20px;
	width: 20px;
	border: 1px solid #cfd2d3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-right: 7px;
	position: relative;
	top:4px
}
.checkbox.active i{
	background-position: -173px -41px;
}
.radio-link.open i,
.radio-link.active i,
.active .radio-link i{
	background: #0062ff;
	border: 4px solid #0062ff;
}
.radio-link.active,
.choose-type .radio-link{
	color:  #0062ff;
}
.choose-type .radio-link{
	margin-bottom: 10px;
}
.soc-link .i-soc-fac{
	background-position: 12px 6px;
}
.footer-page .i-soc-fac,
.soc-link .i-soc-fac:hover{
	background-position: 12px -25px;
}
.soc-link .i-soc-twi{
	background-position: -18px 7px;
}
.footer-page .i-soc-twi,
.soc-link .i-soc-twi:hover{
	background-position: -18px -24px;
}
.soc-link .i-soc-goo{
	background-position: -53px 7px;
}
.soc-link .i-soc-goo:hover{
	background-position: -53px -24px;
}
.footer-page .soc-link a,
.soc-link a:hover{
	background-color: #0061ff;
}
.footer-page .soc-link a{
	position: relative;
	top: -13px;
	line-height: 13px;
}
.dropdown .options{
	display: none;
	background: #0061ff;
	margin-left: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin:-12px 0 14px;
}
.dropdown .active + .options{
	display: block;
}
.dropdown .options li{
	display: block;
	margin-right: 0;
}
.dropdown .options a{
	color: #fff;
	display: block;
	text-align: left;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: normal;
	padding: 2px 11px;
}
.dropdown .options li:first-child a{
	padding-top: 6px;
}
.dropdown .options li:last-child a{
	padding-bottom: 6px;
}
.dropdown .options li a:hover{
	color: #000;
}
.dropdown{
	display: inline-block;
	position: relative;
}
.dropdown__light .spot-button{
	font-family: Arial, sans-serif;
	font-size: 14px;
	height: 26px;
	padding: 0 15px;
}
.dropdown__light:hover .spot-button{
	background-color: rgb(241, 243, 244);
	background-color: rgba(241, 243, 244, 0.6);
	color: #0062ff;
}
.dropdown__light .options{
	background-color: rgb(241, 243, 244);
	background-color: rgba(241, 243, 244, 0.6);
}
.dropdown__light .options a{
	padding: 2px 15px;
}
.dropdown__light .options li a{
	color: #000;
}
.dropdown__light .options li a:hover{
	color: #0062ff;
}
.change-cover{
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0 4em;
	overflow: hidden;
}
.change-cover .options{
	display: block;
	position: relative;
	right: -999px;
}
.dropdown__light:hover .options{
	right: 0;
}
.change-cover{
	opacity: 0;
	-webkit-transition: all linear .6s;
	-moz-transition: all linear .6s;
	-o-transition: all linear .6s;
	transition: all linear .6s;
}
.bubbles-slider:hover .change-cover,
.header-top:hover + .bubbles-slider .change-cover{
	opacity: 1;
}
.spot-list .spot-button{
	min-width: 155px;
}
.spot-options{
	padding-top: 14px;
}

.spot-options a{
	display: block;
	margin-top: -4px;
}
.spot-options a:first-child{
	margin-top: 0;
}
.popup footer .button{
	height: 78px;
	width: 78px;
	line-height: 78px;
	text-align: center;
	margin-right: 20px;
	margin-top: 32px;
	font-weight: 100;
}
.popup footer .button:hover + .active{
	background: #fff;
	color: #000;
}
