html, body {
	height: 100%;}

body {
    min-width: 950px;
    min-height: 550px,
    -webkit-transform: translate3d(0, 0, 0);
}

.header-page {
   min-width: 950px; 
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#slides ul{
    font-size: 0;
}

#slides .slidesjs-container .slidesjs-control li {
    height:100%;}
}

#slides .container {
	position: relative;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.header-page {
  z-index: 20;
}

.show-block {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }

header-page .hat-bar, .header-page .show-block {
    background: url('../images/rgbapng/ffffffe5-5.png');
}

.slidesjs-navigation {
    display: none;
}

.slides-navigation {
    height: 0;
    width: 100%;
    min-width: 950px;
    z-index: 20; 
    font-size: 30px;
    position: absolute;
    top: 50%;
    margin-top: 35px;
    opacity: 1;
    cursor: pointer; 
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slides-navigation a.next {
    padding-right: 17px;
    float: right;
}

.slides-navigation a.prev {
    padding-left: 17px;
    float: left;
}


@media screen and (max-height: 550px) {
   .slides-navigation {
        top: 275px;
        margin-top: 35px;

    }
}

.help .ng-valid + .f-hint {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }


.animate-show {
    -webkit-transition: opacity 600ms ease-out;
    -moz-transition: opacity 600ms ease-out;
    -o-transition: opacity 600ms ease-out;
    transition: opacity 600ms ease-out;
}
 
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    display:block!important;
}
 
.animate-show.ng-hide {
    line-height:0;
    opacity:0;
}