/* line 17, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1,
h2,
h3,
h4,
h5,
h6, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: "Mobispot";
  src: url('../fonts/mobispot-webfont.eot');
  src: url('../fonts/mobispot-webfont.eot?#iefix') format('eot'), url('../fonts/mobispot-webfont.ttf') format('truetype'), url('../fonts/mobispot-webfont.svg') format('svg'), url('../fonts/mobispot-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "museo_sans_cyrl100";
  src: url('../fonts/exljbris_-_museosanscyrl-100-webfont.eot');
  src: url('../fonts/exljbris_-_museosanscyrl-100-webfont.eot?#iefix') format('eot'), url('../fonts/exljbris_-_museosanscyrl-100-webfont.ttf') format('truetype'), url('../fonts/exljbris_-_museosanscyrl-100-webfont.svg') format('svg'), url('../fonts/exljbris_-_museosanscyrl-100-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Mobispot-icon";
  src: url('../fonts/mobispot-icon.eot');
  src: url('../fonts/mobispot-icon.eot?#iefix') format('eot'), url('../fonts/mobispot-icon.ttf') format('truetype'), url('../fonts/mobispot-icon.svg') format('svg'), url('../fonts/mobispot-icon.woff') format('woff');
  font-weight: 100;
  font-style: normal; }

/* line 51, ../sass/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 55, ../sass/style.scss */
body {
  min-width: 768px;
  font-size: 16px;
  font-family: museo_sans_cyrl100, Arial, Helvetica, sans-serif;
  font-weight: 100; }

/* line 62, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Mobispot;
  font-weight: 100; }

/* line 66, ../sass/style.scss */
a {
  text-decoration: none;
  color: #0062ff; }
  /* line 69, ../sass/style.scss */
  a:hover, a.active {
    color: black; }

/* line 74, ../sass/style.scss */
::-webkit-input-placeholder {
  color: white; }

/* line 77, ../sass/style.scss */
:-moz-placeholder {
  color: white; }

/* line 80, ../sass/style.scss */
::-moz-placeholder {
  color: white; }

/* line 83, ../sass/style.scss */
:-ms-input-placeholder {
  color: white; }

/* line 86, ../sass/style.scss */
.right {
  float: right; }

/* line 89, ../sass/style.scss */
.left, .header-page .logo, .header-page li, .footer-page li {
  float: left; }

/* line 92, ../sass/style.scss */
.hide, .show-block {
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }

/* line 97, ../sass/style.scss */
.icon, .footer-page .soc-link a, .slides-navigation a {
  font-family: Mobispot-icon; }

/* line 100, ../sass/style.scss */
.colum-form {
  display: block;
  position: relative;
  text-align: left; }
  /* line 104, ../sass/style.scss */
  .colum-form input {
    display: block; }

/* line 109, ../sass/style.scss */
.custom input {
  background: #0062ff;
  height: 37px;
  border: none;
  margin-bottom: 6px;
  width: 300px;
  padding: 0 18px;
  color: white;
  font-size: 16px;
  font-family: museo_sans_cyrl100, Arial, Helvetica, sans-serif;
  outline: none; }
  /* line 120, ../sass/style.scss */
  .custom input:focus {
    -webkit-transition: background 0.8s ease-in-out;
    -webkit-transition-delay: 0;
    -moz-transition: background 0.8s ease-in-out 0;
    -o-transition: background 0.8s ease-in-out 0;
    transition: background 0.8s ease-in-out 0;
    background: #2578fe; }
/* line 125, ../sass/style.scss */
.custom .wrapper {
  position: relative; }
/* line 128, ../sass/style.scss */
.custom .f-hint {
  position: absolute;
  left: 100%;
  width: 100%;
  top: 0;
  line-height: 37px;
  color: #0062ff;
  padding: 0 19px; }

/* line 139, ../sass/style.scss */
.checkbox {
  color: #0062ff;
  font-size: 16px;
  margin: 16px 0 11px;
  cursor: pointer;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }
  /* line 145, ../sass/style.scss */
  .checkbox * {
    cursor: pointer; }
  /* line 148, ../sass/style.scss */
  .checkbox input[type="checkbox"] {
    display: none; }
  /* line 151, ../sass/style.scss */
  .checkbox label:before {
    content: '';
    display: block;
    border: 4px solid #0062ff;
    behavior: url('../css/PIE.htc');
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    height: 8px;
    width: 8px;
    line-height: 9px;
    text-align: center;
    position: relative;
    top: -1px;
    margin-right: 6px; }
  /* line 160, ../sass/style.scss */
  .checkbox input[type=checkbox]:checked + label:before {
    background: #0062ff; }

/* line 166, ../sass/style.scss */
.form-footer {
  display: block;
  overflow: hidden;
  *zoom: 1; }

/* line 170, ../sass/style.scss */
.header-page {
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 0; }
  /* line 171, ../sass/style.scss */
  .header-page .hat-bar {
    background: url('../img/rgbapng/ffffffe5-5.png?1393486030');
    background: rgba(255, 255, 255, 0.9);
    height: 63px; }
  /* line 175, ../sass/style.scss */
  .header-page .show-block {
    padding: 38px;
    background: url('../img/rgbapng/ffffffe5-5.png?1393486030');
    background: rgba(255, 255, 255, 0.9);
    text-align: center; }
    /* line 179, ../sass/style.scss */
    .header-page .show-block .form-block {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline; }
    /* line 182, ../sass/style.scss */
    .header-page .show-block .form-footer {
      padding: 9px 0 0; }
    /* line 185, ../sass/style.scss */
    .header-page .show-block .form-button {
      font-family: "Mobispot";
      font-size: 20px;
      line-height: 27px; }
    /* line 192, ../sass/style.scss */
    .header-page .show-block .soc-login img {
      width: 26px;
      display: block; }
    /* line 196, ../sass/style.scss */
    .header-page .show-block .soc-login a {
      margin-left: 9px;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline; }
      /* line 199, ../sass/style.scss */
      .header-page .show-block .soc-login a:first-child {
        margin: 0; }
  /* line 209, ../sass/style.scss */
  .header-page .logo {
    display: block;
    width: 140px; }
    /* line 215, ../sass/style.scss */
    .header-page .logo img {
      max-width: 100%; }
  /* line 219, ../sass/style.scss */
  .header-page li {
    margin-left: 29px;
    line-height: 27px; }

/* line 226, ../sass/style.scss */
.form-block .h-label {
  font-family: museo_sans_cyrl100, Arial, Helvetica, sans-serif;
  margin-bottom: 24px;
  display: block; }

/* line 232, ../sass/style.scss */
.content {
  overflow: hidden;
  *zoom: 1;
  padding: 16px 60px 12px; }

/* line 236, ../sass/style.scss */
#slides {
  color: white; }
  /* line 238, ../sass/style.scss */
  #slides .blue {
    color: #0062ff; }
  /* line 241, ../sass/style.scss */
  #slides .container {
    position: absolute;
    right: 60px;
    top: 37%;
    text-align: right; }
  /* line 247, ../sass/style.scss */
  #slides h1, #slides h2, #slides h3, #slides h4, #slides h5, #slides h6 {
    font-size: 58px;
    font-weight: 100; }
  /* line 251, ../sass/style.scss */
  #slides p {
    font-size: 24px;
    margin: 27px 0;
    line-height: 30px; }

/* line 257, ../sass/style.scss */
.footer-page {
  padding: 36px 60px;
  display: table-cell;
  vertical-align: bottom;
  display: block;
  position: relative;
  height: 112px;
  margin-top: -112px;
  z-index: 10;
  overflow: visible;
  bottom: 0; }
  /* line 268, ../sass/style.scss */
  .footer-page a {
    color: white; }
    /* line 270, ../sass/style.scss */
    .footer-page a:hover {
      color: #0062ff; }
  /* line 275, ../sass/style.scss */
  .footer-page ul.left, .footer-page .header-page ul.logo, .header-page .footer-page ul.logo {
    position: absolute;
    bottom: 36px;
    margin-left: -12px; }
    /* line 280, ../sass/style.scss */
    .footer-page ul.left a, .footer-page .header-page ul.logo a, .header-page .footer-page ul.logo a {
      padding: 0 12px; }
    /* line 284, ../sass/style.scss */
    .footer-page ul.left > li:after, .footer-page .header-page ul.logo > li:after, .header-page .footer-page ul.logo > li:after {
      content: '|';
      color: #fff; }
  /* line 291, ../sass/style.scss */
  .footer-page ul.right li {
    margin-left: 20px; }
  /* line 300, ../sass/style.scss */
  .footer-page .soc-link a {
    behavior: url('../css/PIE.htc');
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    height: 40px;
    width: 40px;
    line-height: 41px;
    text-align: center;
    background: #0062ff;
    color: white;
    font-size: 19px; }
    /* line 306, ../sass/style.scss */
    .footer-page .soc-link a:hover {
      background: black; }
  /* line 311, ../sass/style.scss */
  .footer-page .lang {
    position: absolute;
    bottom: -3px;
    left: 100%;
    cursor: pointer; }
    /* line 312, ../sass/style.scss */
    .footer-page .lang:after {
      display: none; }
    /* line 319, ../sass/style.scss */
    .footer-page .lang .current {
      behavior: url('../css/PIE.htc');
      position: relative;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      height: 20px;
      width: 20px;
      line-height: 21px;
      text-align: center;
      margin: 0 12px;
      overflow: hidden;
      position: relative;
      top: -1px;
      display: block;
      float: none;
      clear: both;
      width: 20px; }
      /* line 329, ../sass/style.scss */
      .footer-page .lang .current img {
        max-width: 100%; }
    /* line 335, ../sass/style.scss */
    .footer-page .lang .lang-list {
      margin-left: 7px;
      margin: 0 0 -5px -3px;
      padding: 10px;
      display: none; }
      /* line 340, ../sass/style.scss */
      .footer-page .lang .lang-list .current-lang {
        display: none; }
      /* line 343, ../sass/style.scss */
      .footer-page .lang .lang-list li {
        padding: 5px;
        display: block;
        white-space: nowrap;
        color: #fff;
        cursor: pointer;
        min-width: 120px;
        float: none;
        height: 30px; }
        /* line 352, ../sass/style.scss */
        .footer-page .lang .lang-list li:hover {
          color: #000; }
      /* line 357, ../sass/style.scss */
      .footer-page .lang .lang-list img {
        width: 20px;
        float: left;
        margin-right: 5px; }

/* line 366, ../sass/style.scss */
.slides-navigation a {
  color: white;
  font-size: 26px; }
  /* line 370, ../sass/style.scss */
  .slides-navigation a:hover {
    color: #0062ff; }
  /* line 373, ../sass/style.scss */
  .slides-navigation a.prev {
    left: 19px; }
  /* line 376, ../sass/style.scss */
  .slides-navigation a.next {
    right: 19px; }

/* line 385, ../sass/style.scss */
.help .ng-valid + .f-hint {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }
/* line 388, ../sass/style.scss */
.help .f-hint {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition: opacity 0.8s ease-in-out 0;
  -o-transition: opacity 0.8s ease-in-out 0;
  transition: opacity 0.8s ease-in-out 0; }

/* line 393, ../sass/style.scss */
.b-message {
  font-size: 16px;
  color: #0062ff; }
  /* line 396, ../sass/style.scss */
  .b-message p {
    line-height: 20px;
    padding: 24px 0 57px; }

/* line 401, ../sass/style.scss */
#slides {
  background-color: #000; }

/* line 405, ../sass/style.scss */
.slides-container li {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important; }

/* line 409, ../sass/style.scss */
.slides-navigation {
  -webkit-transform: translateZ(0); }

/* line 412, ../sass/style.scss */
.slides-navigation a {
  padding: 100px 26px;
  margin-top: -100px;
  font-size: 30px; }

/* line 417, ../sass/style.scss */
.slides-navigation a.prev {
  left: -7px; }

/* line 420, ../sass/style.scss */
.slides-navigation a.next {
  right: -7px; }
