/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */

.reveal-modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: url(../images/shadow.png) top left repeat;
    z-index: 500;
    display: none;
    top: 0;
    left: 0;
}

.reveal-modal {
    visibility: hidden;
    top: 200px;
    left: 50%;
    margin-left: -300px;
    background: #fff;
    position: absolute;
    z-index: 501;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 0px 25px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0 0px 25px rgba(0, 0, 0, .9);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.reveal-modal.small {
    width: 200px;
    margin-left: -140px;
}

.reveal-modal.medium {
    width: 400px;
    margin-left: -240px;
}

.reveal-modal.large {
    width: 600px;
    margin-left: -340px;
}

.reveal-modal.xlarge {
    width: 800px;
    margin-left: -440px;
}

.reveal-modal .close-reveal-modal {
    font-size: 9px;
    line-height: 22px;
    position: absolute;
    top: 8px;
    right: 11px;
    color: #aaa;
    text-shadow: 0 -1px 1px rbga(0, 0, 0, .6);
    font-weight: bold;
    cursor: pointer;
}

.close-reveal-modal a, .close-reveal-modal a:hover, .close-reveal-modal a:focus {
    text-decoration: underline;
}
