html, body {
	height: 100%;}

body {
    min-width: 950px;
    min-height: 550px,
    -webkit-transform: translate3d(0, 0, 0);
}

.header-page {
   min-width: 950px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.show-block {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.error-page .p-error-txt .error-icon {
      background: url(../img/i-error.2x.png) 0 0 no-repeat;
      background-size: 100%;
      height: 169px;
      width: 230px;
      bottom: 0;
      right: 0;
      position: absolute;
      margin: 0 -23px -23px 0; }

.help .ng-valid + .f-hint {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

li.phone-name {
    color:#0062FF;
}

.warn {
    color:#FF0050;
    font-size:16px;
    font-weight:bold;
}

.error {
    color: #fff !important;
}

#demo-kit-block {
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 22px;
}

.kit-items .img-w img {
    cursor:pointer;
}

.kit-items .img-w a.plus {
    position: absolute;
    bottom: 0px;
    right: -25px;
    font-family: mobispot;
    font-size: 32px;
    line-height: 19px;
    color: #8D9095;
}

.kit-items .img-w a.minus {
    position: absolute;
    bottom: 0px;
    right: 20px;
    font-family: mobispot;
    font-size: 32px;
    line-height: 19px;
    color: #8D9095;
}

.kit-items .img-w span {
    position: absolute;
    bottom: 0px;
    right: -5px;
    font-family: mobispot;
    font-size: 22px;
    line-height: 19px;
    color: #8D9095;
}

.m-result {
    display: none;
}

#extraMediaForm a {
    opacity: 0.1;
    transition: none;
}

#extraMediaForm a.binded {
    opacity: 1;
    transition:none;
}

#extraMediaForm a:hover {
    opacity: 1;
}

.icon-bag-conteiner {
    position: fixed;
    top: 55px;
    right: 5px;
    z-index: 99;
}

div.store-content {
    max-width:1030px;
    margin: 0px auto;

}

.m-preload-store  {
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
  background: #fff;
  z-index: 999;
  text-align: center;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=1);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  display: block;
}

.m-preload-store img{
  position: absolute;
  top: 50%;
  margin-top: -20px;
}

.m-auto-payment {
  min-height: 164px;
}

.header-page .hat-bar li,.footer-page a{
  font-size:16px;
}

.b-message p {
  color: #0062ff;
}

.error-page p a {
  border-bottom: 1px solid;
}

.header-page li span.right-menu {
    padding: 18px 0px;
    display: block;
}
.display_none {
    display: none;
}

.spot-all .content-wrapper {
  margin-bottom: 0; }

.store-body {
  background-color: transparent;
}

div.bag-footer {
    margin-bottom:112px;
}

div.twelve.total-amount.clearfix {
    position:static;
}

#codeConfirm {
    margin-top: 10px;
}

#store-checkout {
    position: relative;
    top: 100px;
}

.half {
    width:50%;
}

div.error-page {
    background: inherit;
}

.spot-coupon .type-coupon.connecting {
    box-shadow: 0px 0px 0px 1px #ff0 inset;
}

.spot-coupon .type-coupon.connecting sup {
    font-size: 14px;
    position: absolute;
    top: 11px;
    right: 11px;
    color: black;
    background: repeat scroll 0% 0% #ff0;
    padding: 5px 11px;
    border-radius: 5px;
}

.text-center {
    text-align: center;
}

.date-time {
    min-width:107px;
}