span.error {
    color: #f00;
    padding: 4px 0 4px 30px;
}

.selectBox-dropdown-menu {
    max-height:355px;
    overflow-y:auto;
    overflow-x:none;
}

.personal_photo {

    color: #7d7d7d;
    padding:0 0 0 5px;
    font-size: 14px;
    line-height: 16px;
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    text-align: center;
    behavior: url(ie-css3.htc);
}

.round-btn-new {
    background:url(../images/form/bnt_profile.png);
    background-color: #F5F5F5;
    width:120px;
    height:28px;
    margin:10px 0 20px 8px;
    float:left
}

.uploadify-queue {
    background-color: #F5F5F5;
    margin-bottom: 1em;
}
.uploadify-queue-item {
    background-color: #F5F5F5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font: 11px Verdana, Geneva, sans-serif;
    margin-top: 5px;
    max-width: 350px;
    padding: 10px;
}
.uploadify-error {
    background-color: #FDE5DD !important;
}
.uploadify-queue-item .cancel a {
    background: url('../images/uploadify-cancel.png') 0 0 no-repeat;
    float: right;
    height:	16px;
    text-indent: -9999px;
    width: 16px;
}
.uploadify-queue-item.completed {
    background-color: #E5E5E5;
}
.uploadify-progress {
    background-color: #E5E5E5;
    margin-top: 10px;
    width: 100%;
}

.auth-hint{

    background-color: #fff;
    width:280px;
    position:absolute ;
    left:50%;
    bottom:-215px;
    margin-left:-100px;
    color:#fff;
    font:14px;
    padding:15px 10px;
    z-index:999;
    font-family:Helvetica;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border: 1px solid #b7b7b7;
    behavior: url(ie-css3.htc);
}
.auth-hint .hint-back-cursor{
    background:url(../images/auth-hint-back-cursor.png) no-repeat;
    width:14px;
    height:11px;
    position:absolute ;
    left:70%;
    top:-11px;
    margin-left:-7px;
}

.auth-hint #forget-pass{padding-top:2px;font-size:12px;cursor:pointer;line-height:22px;text-decoration:underline}
.auth-hint .hint-name {font-size:20px}

.auth-hint table.form {border: 0px none;margin:0;font-size:15px;width:272px}
.auth-hint table.form td {color: #797979;height:20px;white-space:nowrap;text-align:left}

.auth-hint .btn-30 div{background:url(../images/form/btn-30.png) 100% -30px no-repeat;height:30px;position:relative;right:-7px;margin:0 0 0 -7px;padding:0 15px 0 15px;display:block;}
.auth-hint .btn-30 div input{border:0;background:transparent;text-align:center;line-height:25px;height:30px;font-size:16px;color:#888;cursor:pointer;padding:0}
