div.datepicker {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    position: absolute;
    cursor: default;
    top: 0;
    left: 0;
    display: none;
}

.datepickerContainer {
    background: #fff;
}

.datepickerHidden {
    display: none;
}

div.datepicker table.datepickerViewDays {
    border-collapse: separate;
    border-spacing: 1px
}

div.datepicker table.datepickerViewDays td {
    border: 2px #E1E1E1 solid;
    background: #ededed url(../images/back-calendar.png) 0 0 repeat-x;
    cursor: pointer
}

div.datepicker table.datepickerViewDays td:hover {
    border: 2px #116994 solid;
    background: #6b8eac url(../images/back-calendar-selected.png) 0 0 repeat-x;
}

div.datepicker table.datepickerViewDays td:hover a {
    color: #fff;
    cursor: pointer
}

div.datepicker table.datepickerViewDays td.datepickerSelected {
    border: 2px #116994 solid;
    background: #6b8eac url(../images/back-calendar-selected.png) 0 0 repeat-x;
}

div.datepicker table.datepickerViewDays td.datepickerCurrent {
    border: 2px #116994 solid;
    background: #6b8eac url(../images/back-calendar-selected.png) 0 0 repeat-x;
}

div.datepicker table.datepickerViewMonths {
    border-collapse: separate;
    border-spacing: 1px
}

div.datepicker table.datepickerViewMonths td {
    border: 2px #E1E1E1 solid;
    background: #ededed url(../images/back-calendar.png) 0 0 repeat-x;
    cursor: pointer
}

div.datepicker table.datepickerViewMonths td:hover {
    border: 2px #116994 solid;
    background: #6b8eac url(../images/back-calendar-selected.png) 0 0 repeat-x;
}

div.datepicker table.datepickerViewMonths td:hover a {
    color: #fff;
    cursor: pointer
}

div.datepicker table.datepickerViewMonths td.datepickerSelected {
    border: 2px #116994 solid;
    background: #6b8eac url(../images/back-calendar-selected.png) 0 0 repeat-x;
}

div.datepicker table.datepickerViewMonths td.datepickerCurrent {
    border: 2px #116994 solid;
    background: #6b8eac url(../images/back-calendar-selected.png) 0 0 repeat-x;
}

div.datepicker table.datepickerViewYears {
    border-collapse: separate;
    border-spacing: 1px
}

div.datepicker table.datepickerViewYears td {
    border: 2px #E1E1E1 solid;
    background: #ededed url(../images/back-calendar.png) 0 0 repeat-x;
    cursor: pointer
}

div.datepicker table.datepickerViewYears td:hover {
    border: 2px #116994 solid;
    background: #6b8eac url(../images/back-calendar-selected.png) 0 0 repeat-x;
}

div.datepicker table.datepickerViewYears td:hover a {
    color: #fff;
    cursor: pointer
}

div.datepicker table.datepickerViewYears td.datepickerSelected {
    border: 2px #116994 solid;
    background: #6b8eac url(../images/back-calendar-selected.png) 0 0 repeat-x;
}

div.datepicker table.datepickerViewYears td.datepickerCurrent {
    border: 2px #116994 solid;
    background: #6b8eac url(../images/back-calendar-selected.png) 0 0 repeat-x;
}

.datepickerGoPrev, .datepickerGoNext, .datepickerMonth {
    float: left;
    width: 25%
}

.datepickerGoPrev, .datepickerGoNext {
    padding: 6px 0;
}

.datepickerMonth {
    width: 50%
}

.datepickerGoPrev a {
    height: 23px;
    line-height: 22px !important;
    background: url(../images/calendar-prev-next.png) 0 0 no-repeat;
    display: block;
    float: left;
    margin-left: 53px;
    padding-left: 40px
}

.datepickerGoNext a {
    height: 23px;
    line-height: 22px !important;
    background: url(../images/calendar-prev-next.png) right -23px no-repeat;
    display: block;
    float: right;
    margin-right: 53px;
    padding-right: 40px
}

div.datepicker a {
    color: #000000;
    text-decoration: none;
    cursor: default;
    outline: none;
}

div.datepicker table td {
    text-align: right;
}

div.datepicker th a {
    text-align: center;
    color: #116994;
    font-weight: normal;
}

div.datepicker th a:hover {
    color: #000;
}

div.datepicker thead th {
    text-align: center;
    background: #ededed url(../images/back-calendar.png) 0 0 repeat-x;
    border: 2px #E1E1E1 solid;
    height: 35px;
}

div.datepicker thead tr.datepickerDoW {
    background: none;
    border: none;
    height: 35px;
}

div.datepicker thead tr.datepickerDoW td:hover {
    border: 2px #E1E1E1 solid;
    background: #ededed url(../images/back-calendar.png) 0 0 repeat-x;
    cursor: default
}

div.datepicker thead tr.datepickerDoW td span {
    text-align: right;
    height: 35px;
    display: block;
    font: bold 9px Verdana;
    text-transform: uppercase;
    line-height: 35px;
    padding-right: 5px;
    color: #000
}

tbody.datepickerDays td.datepickerSaturday a, tbody.datepickerDays td.datepickerSunday a {
    color: #850000
}

.datepickerDays a {
    font: bold 18px Verdana;
    width: 127px;
    line-height: 35px;
    height: 35px;
    padding-right: 4px;
    display: block;
}

.datepickerYears a,
.datepickerMonths a {
    line-height: 35px;
    height: 35px;
    text-align: center;
    width: 130px;
    display: block;
}

tbody.datepickerDays td.datepickerNotInMonth a {
    color: #a8a8a8;
}

tbody.datepickerDays td.datepickerSelected a {
    color: #fff;
}

tbody.datepickerDays td.datepickerSelected a {
    background: url(../images/ico-vileta.png) 5px 5px no-repeat;
}

tbody.datepickerDays td a:hover {
    background: url(../images/ico-vileta.png) 5px 5px no-repeat;
}

tbody.datepickerDays td.datepickerCurrent a {
    color: #fff;
    background: url(../images/ico-today.png) 5px 23px no-repeat;
}

tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
    background: #17384d;
}

tbody.datepickerYears td.datepickerSelected,
tbody.datepickerMonths td.datepickerSelected {
    background: #17384d;
}

div.datepicker a:hover,
div.datepicker a:hover {
    color: #fff;

}

div.datepicker td.datepickerNotInMonth a:hover {
    color: #fff;
}

div.datepicker tbody th {
    text-align: center;
}

.datepickerSpace div {
    width: 20px;
}

.datepickerGoNext a,
.datepickerGoPrev a,
.datepickerMonth a span {
    text-align: center;
    font: bold 18px Verdana;
    line-height: 35px;
}

table.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears {
    display: none;
}

table.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW {
    display: none;
}

table.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerMonths,
table.datepickerViewYears tr.datepickerDoW {
    display: none;
}

td.datepickerDisabled a,
td.datepickerDisabled.datepickerNotInMonth a {
    color: #333;
}

td.datepickerDisabled a:hover {
    color: #333;
}

td.datepickerSpecial a {
    background: #700;
}

td.datepickerSpecial.datepickerSelected a {
    background: #a00;
}