input.error {
    border: 1px solid #C60F13;
    background:none;
    color: rgba(0, 0, 0, 0.75);
}

a {
    cursor: pointer;
}

.hide {
    display: none;
    opacity: 0;
}

a.m-link {
    font-family: Mobispot;
    font-size: 20px;
}

.m-result {
    display: none;
}

.m-result{
    position: fixed;
    top: -6px;
    left: 0;
    text-align: center;
    z-index: 99;
    width: 100%;
    height: 0;

}
.m-result p{
    font-family: Mobispot, Arial, sans-serif;
    display: inline-block;
    background: #12ad51;
    color: #fff;
    padding: 10px 11px 6px;
    -webkit-border-radius: 5px;
    -moz-border-radius:  5px;
    border-radius:  5px;
    behavior:  url(/PIE.htc);
    font-size: 16px;
    margin-bottom: 0;
}

.m-negative p{
    background-color: #ff2400;
}

.coupon.active sup {
    font-size: 14px;
    /*position: absolute;
    top: 11px;
    right: 11px;*/
    float:right;
    color: #FFF;
    background: none repeat scroll 0% 0% #30D874;
    padding: 5px 11px;
    border-radius: 5px;
}

.coupon.active {
    /*box-shadow: 0px 0px 0px 1px #30D874 inset;*/
}

.input-block .add-button {
    font-size: 18px;
}

.content.author.tabs nav a {
    height: 82px;
}

.v-text {
     display:inline-block;
     vertical-align:middle;
 }

.v-helper {
     display:inline-block;
     vertical-align:middle;
     height:100%;
     width:0px;
 }
 
.coupon sup {
    font-size: 14px;
    float: right;
    top: 11px;
    right: 11px;
    color: black;
    padding: 5px 11px;
    border-radius: 5px;
}

.coupon.connecting sup {
    background: repeat scroll 0% 0% #ff0;
}

.coupon.error-coupon sup {
    background: repeat scroll 0% 0% red;
}

.coupon.active sup {
    background: repeat scroll 0% 0% #30D874;
}

.show-block {
    display: none;
}

.show-block .form-button {
    margin-top: 0px;
    display: inline-block;
    height: 70px;
    width: 70px;
    line-height: 70px;
}

.show-block .form-button.yes-button {
    margin-right: 60px;
}


.show-block footer.form-footer {
    text-align:center;
}

.tab-transport .number {
    display: inline-block;
    background-color: #E9EDF2;
    border-radius: 5px;
    padding: 3px 7px;
    font-family: museo_sans_cyr700;
    font-weight: 800;
    font-size: 18px;
    position: relative;
    top: 0px;
    margin-bottom:20px;
}

.tab-transport h4 {
    border-bottom: 1px solid #CDCDCD;
    padding-bottom: 7px;
    margin-bottom:16px;
    margin-top:6px;
    font-family: Mobispot;
    font-size: 23px;
}

.tab-transport li {
    font-size: 19px;
}

.tab-transport li .pay {
    display: inline-block;
    background-color: #E9EDF2;
    width: 100%;
    text-align: center;
    padding: 18px;
    margin: 5px 0 14px 0;
    text-decoration: none;
    color: #0062FF;
    font-size: 25px;
}

.tab-transport li .block {
    display: inline-block;
    background-color: #FF6565;
    color: #FFF;
    width: 100%;
    text-align: center;
    padding: 18px;
    font-size: 25px;
    margin: 5px 0 25px 0;
}

.tab-transport li .note {
    color: #8D9095;
    font-size: 16px;
}

.content.disabled .cover {
    position: absolute;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #E0E6ED;
}

.block-information {
    display:none;
}

.content.disabled .block-information {
    display:block;
    opacity: 1;
    z-index: 90;
    top: 50%;
    left: 50%;
    margin-top: -180px;
    margin-left: -150px;
    background: #c7ccd2 none repeat scroll 0% 0%;
    border-radius: 10px;
    padding: 22px 10px;
    width: 300px;
    text-align: center;
    position: absolute;
    font-size: 25px;
    font-weight:800px;
}

.content.tabs.spot {
    position:relative;
}