li.aslide {
    list-style:none;
    display:inline-block;
}

ul.thumblist {
    width: 250px;
    margin:0 auto;
}

li.thumbitem {
    display:inline-block;
    width:80px;
    margin:0px;
    vertical-align:top;
    text-align:center;
}

/*
li.thimbslide {
    list-style:none;
    display:inline-block;
}

li.brslide {
    list-style:none;
}
*/
ul.aslide {
    padding:0;
    margin:0;
    white-space:nowrap;
}

.clearleft {
    clear:left;
}

.thumbnail {
    width: 50px;
    max-height:50px;
    max-width: 50px;
    cursor: pointer;
}

.large {
    width:242px;
}

.mainimageshell {
    background-color:transparent;
    width:242px;
    margin:0 auto;
}

.viewwindow {
    width:240px;
    height:200px;
    overflow-x: hidden;
    position:relative;
}

.fullsizelist{
    position:absolute;
    top:0;
    left:0;
    transition:  left .8s ease;
    -ms-transition:  left .8s ease;
    -o-transition:  left .8s ease;
    -webkit-transition:  left .8s ease;
    -moz-transition:  left .8s ease;
}
  

.thumbsshell {
    background-color:transparent;
    width:240px;
    margin:0 auto;
    position:relative;
}

.thumbswrapper {
    /*overflow-x: scroll;*/
    width:240px;
    height:75px;
    margin:0 auto;
    text-align:left;
}

.xscrolled{
    overflow-x: scroll;
}

.thumbwrapper {
    float:left;
    max-height:50px;
    max-width:80px;
}
