.soc-link span{
  font-family: Mobispot, Arial,sans-serif;
}

.spot-list{
  margin: 50px 0 50px;
}

.spot-desc{
  margin: 50px 0 0;
}

#add-content, #error-upload{
  display:none;
}

/*#dropbox {
  border: solid  3px #fff;
}

.dropbox-hover{
  border: solid  3px #f00;
}*/

#dropbox {
  border: 3px solid #fff;
  background: #fff;
}

#dropbox.hover {
  border: 3px solid #2B46FF;
}

#spot-setting{
  position: absolute;
  height: 2340px;
  width: 100%;
  top:0;
  left: 0;
  background: #ebebec;
  background: rgba(235,235,236,.95);
  z-index: 99;
  opacity: 0;
}

