.soc-link span{
  font-family: Mobispot, Arial,sans-serif;
}

.spot-list{
  margin: 50px 0 50px;
  color: #f00;
}

.spot-desc{
  margin: 50px 0 0;
}

#add-content, #error-upload, #confirm{
  display:none;
}

#dropbox {
  border: 3px solid #fff;
  background: #fff;
}

#dropbox.hover {
  border: 3px solid #2B46FF;
}

#wallets{
  padding: 20px
}

span.payment-rules{
    color: #0062FF;
  border-bottom: 1px dashed #0062FF;

  cursor: pointer;
}


.go-button{
  height: 180px;
  width: 180px;
  line-height: 180px;
  font-size: 23px;
}

.biggest-heading img{
  top:0px;
}

.corp-register-form{
  margin: 20px 0;


.long li{
	width: 80px;
}


.m-preload-store  {
	height: 100%;
	width: 100%;
	top:0;
	left: 0;
	background: #fff;
	z-index: 999;
	text-align: center;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=1);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	display: block;
}

.m-preload-store img{
	position: absolute;
	top: 50%;
	margin-top: -20px;
}