.m-result, #error-upload, #progress-content{
  display: none;
}


.four-line{
  height: 120px;
}

.textSlider-box{
    margin: 0;
}

.long li{
  width: 60px;
  font-size:11px;
}

.m-preload-store  {
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
  background: #fff;
  z-index: 999;
  text-align: center;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=1);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  display: block;
}

.m-preload-store img{
  position: absolute;
  top: 50%;
  margin-top: -20px;
}

#promoForm{
    margin-top:30px;
}

#codeConfirm{
    margin-top:10px;
}

#dropbox.hover *{
    color: #0063ff;
}

#dropbox.hover *{
    -webkit-transition: color 600ms ease-out;
    -moz-transition: color 600ms ease-out;
    -o-transition: color 600ms ease-out;
    transition: color 600ms ease-out;
}

.sex-options li.active a{
  color: #0062FF;
}

.sex-options{
  margin-top: -10px;
  margin-bottom: 50px;
}

.sex-options li{
  width: 120px;
  display: inline-block;
  float: left;
  cursor: pointer;
}


.tooltip.tip-top{
  margin-top: -10px;
}

.tooltip.tip-left, .tooltip.tip-right{
  margin-top: 15px;
  margin-left: 0;
}

.currency{
  font-size: 18px;
}

.biggest-currency{
  font-size: 55px;
}

.small-currency{
  font-size: 8px;
}