.footer-page{
	background: #E9EDF2;
	padding-top: 1.4em;
	height: 258px;
}
.footer-page .link-list li{
	display: inline-block;
	list-style: none;
}
.footer-page .link-list li:before{
	content: "|";
	font-size: 14px;
}
.footer-page .link-list li:first-child:before{
	content: "";
}
footer-page h3{
	font-size: 1.93em;
}
.footer-page .link-list li a{
	color: #000;
	margin: 0 0.5em;
	font-size: 14px;
}
.footer-page .link-list li:first-child a{
	margin-left: 0;
}
.footer-page .link-list li a:hover{
	color: #0162ff;
}
.footer-page p{
	margin: 81px 0 10px;
	clear: both;
}
.footer-page .soc-link{
	line-height: 1.6;
	font-size: 14px;
	margin-bottom: 0;
	height: 0;
	margin-top: -22px;
}
.footer-page .soc-link label{
	display: inline;
	color: #000;
}
.footer-page .soc-link span{
	margin-right: 10px;
	font-size: 14px;
}
.footer-page .soc-link li{
	margin-bottom: 17px;
}
.footer-page .soc-link a{
	margin: 0 6px 0 42px;
	position: relative;
	top:5px;
	height: 50px;
	width: 50px;
	line-height: 50px;
	font-size: 23px;
}
.footer-page .link-list {
	margin-right: 47px;
	line-height: 14px;
}
.footer-page .lang-dropdown{
	display: inline-block;
	position: absolute;
	top: 60px;
	right: 2em;
}