.bg-white{
	 background: #fff;
 }
.bg-black{
	background: #000;
}
.bg-blue{
	background: #2b46ff;
}
.bg-red{
	background: #ff0050;
}
.bg-yellow{
	background: #c5f900;
}
.bg-green{
	background: #00d1c3;
}
.bg-gray{
	background: #f1f3f4;
}
.nav-bar{
	position: relative;
	right: -10px;
	text-align: right;
}

.nav-bar li {
	display: inline-block;
	list-style: none outside none;
	margin-right: 10px;
}
.header-page .twelve{
	position: relative;
}
.header-page .five form,
.header-page .five .choose-type{
	max-width: 300px;
	margin: 0 auto 14px;
	overflow: hidden;
}
.header-page .five .choose-type{
	margin-bottom: 13px;
	margin-top: -32px;
}
.row__head-slider {
	position: relative;
	max-width: none;
}
.header-top{
	position: relative;
	overflow: visible;
	z-index: 5;
	height: 0;
	padding: 0 2em;
}

.header-top .nav-bar,
.header-top h1{
	font-size: 18px;
	margin: 1em 0 0;
}
.header-top .nav-bar,
.header-top h1{
	margin: 2.8em 0 0;
}
.header-page .centered h3{
	color: #0063FF;
	text-align: center;
	margin: 30px 0 39px;
}
.form-control{
	margin-top: 22px;
}
.form-row + .form-control{
	margin-top: 27px;
}
.soc-link a{
	background: #f1f3f4 url(../images/icons/i-small.png) no-repeat;
	display: inline-block;
	height: 35px;
	width: 35px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-left: 5px;
}
.header-page .form-control .right{
	float: right !important;
}
form .agree{
	margin-top: 13px;
}
.slide-box .radio-link{
	display: block;
	font-size: 12px;
	outline: none;
}
.sub-slide-box{
	padding-top: 28px;
	display: none;
}
form .choose-type.centered{
	overflow: hidden;
	margin-bottom: 30px;
}
form .choose-type a{
	color: #0062ff;
}
.choose-type h6{
	font-family: Arial,sans-serif;
	color: #000;
	text-align: center;
}

.spots-description + .spots-description{
	margin-top: 5.4em;
}
input::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.75) }

.slide-box{
	display:none;
	overflow:hidden;
	position:relative;
	width:100%;
	z-index:1
}
.slide-box .row{
	position: relative;
}
.slide-box-close{
	position: absolute;
	top:24px;
	right: 28px;
	height: 40px;
	width: 40px;
	background: #f1f3f4 url(../images/icons/i-small.png) no-repeat -86px 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.bg-gray .slide-box-close{
	background-color: #fff;
}
.slide-box-close:hover{
	background-color: #0061ff;
	background-position: -86px -24px;
}
.header-top .columns{
	padding: 0;
}
.row__head-slider .header-top .columns{
	padding: 0 2em;
	height: 0;
	margin-top: -2px;
}
#textSlider > div{
	display: none;
}
#textSlider > div:first-child{
	display: block;
}
.slide-box:target{
	display: block;
}

table.store-items{
	border: 0;
	-webkir-border-radius:0;
	-moz-border-radius:0;
	border-radius: 0;
}
table.store-items td{
	background: #f2f3f5;
	overflow: hidden;
}
table.store-items td:first-child{
	padding-top: 50px;
	text-align: center;
	width: 34.48%;
}
table.store-items td img,
table.store-items td .orbit{
	width: 100%;
	max-width: 242px !important;
	min-width: 80px;
	margin: 0 auto;
}

table.store-items td ul.orbit-bullets{
	top: 450px;
}
.singlebox-margin{
	margin: 9.5em 0 5.7em;
}
.store-items__description{
	padding: 1.3% 3.5%;
	min-width: 274px;
}
.store-items__description header{
	position: relative;
	min-height: 64px;
	margin-bottom: 20px;
}
.store-items__description header h1{
	margin-bottom: 0;
	padding-right: 85px;
}
.store-items__description p{
	font-size: 13px;
	min-height: 110px;
}
.store-items .store-items__price{
	position: absolute;
	top: -9px;
	right: 0;
	height: 80px;
	width: 80px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #000;
	color: #fff;
	font-size: 31px;
	font-family:Mobispot, Arial,sans-serif;
	text-align: center;
	line-height: 80px;
}
.store-items tr:hover td{
	background: #EBECED;
}
.store-items__close{
	cursor: pointer;
}
.store-items__bag tr:hover .store-items__close:after{
	 content: '';
	 display: block;
	 height: 100%;
	 width: 100%;
	 position: absolute;
	 top:0;
	 left: 0;
	 background: #000 url(../images/icons/i-small.png) no-repeat -110px 25px;
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 border-radius: 50%;
	 cursor: pointer;
 }

.store-items td{
	-webkit-transition: all linear .2s;
	-moz-transition: all linear .2s;
	-o-transition: all linear .2s;
	transition: all linear .2s;
}
.label{
	font-size: 20px;
	font-family: Mobispot,Arial,"Helvetica",Helvetica,sans-serif;
	color: #000;
	margin-right: 20px;
	margin-bottom: 18px;
}
.label-left{
	float: left;
}
.store-items__description .columns{
	padding:0 2em 0 0;
}
.store-items__description input,
.store-items__description .spot-button{
	background-color: #fff;
}
.choose li,
.choose input{
	width: 35px;
	height: 35px;
	text-align: center;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: left;
	line-height: 35px;
	padding: 0;
}
.choose li{
	margin-right:5px;
}

.choose.inline li,
.choose.inline input{
	margin-top: -9px;
}
.choose li{
	cursor: pointer;
}
.choose-color li{
	height: 36px;
	width: 36px;
	float: left;
	margin: 11px;
}
.choose-color li i{
	display: block;
	height: 36px;
	width: 36px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: all linear .1s;
	-moz-transition: all linear .1s;
	-o-transition: all linear .1s;
	transition: all linear .1s;
}

.choose-color li:hover i,
.choose-color li.active i{
	height: 50px;
	width: 50px;
	cursor: pointer;
	margin: -7px;
}
.choose-color li:first-child{
	margin-left: 0;
}
.store-items__description .twelve{
	margin-top: 40px;
}
.store-items__description .twelve:first-child{
	margin-top: 10px;
}
.store-items__description footer.twelve{
	margin: 53px 0 11px;
}
.details{
	padding:42px 7px 9px;
	margin: 0 -7px;

}
p + .details{
	padding:0 7px 0;
}
.error{
	color: #ff0000 !important;
}
.login-bar{
	padding: 0 2em;
	text-align: right;
	margin-bottom: 0;
	height: 0;
	position: relative;
	z-index: 10;
}
.twelve.columns .login-bar{
	padding: 0;
}
.login-bar li{
	display: inline-block;
	margin-left: 31px;
	font-size: 14px;
	font-family: Mobispot, Arial,sans-serif;
	padding: 14px 0 0;
}
.login-bar li:first-child{
	margin-left: 0;
}
.login-bar li a:hover{
	color: #0061FF ;
}
.biggest-heading{
	font-size: 90px;
	margin: 30px 0;
}
.text-center .biggest-heading{
	margin: 63px 0;
}
.biggest-heading img{
	display: inline-block;
	position: relative;
	top:21px;
}
.total-amount{
	position: relative;
}

.customer-info {
	width: 100%;
	margin: 79px 0;
}
.customer-info .columns{
	padding: 2em;
}
.customer-info h3{
	margin-bottom: 23px;
}
.row.buy-options{
	margin-bottom: 49px;
	font-size: 14px;
}
.delivery-options{
	width: 100%;
	margin: 14px 0;
}
.delivery-options td{
	cursor: pointer;
	vertical-align: middle;
	padding: 0;
}
.payment-options li.active a,
.delivery-options .active td,
.delivery-options .active a{
	color: #0062FF;
}

.payment-options{
	margin:14px 0;
}
.payment-options li{
	width: 160px;
	display: inline-block;
	float: left;
	cursor: pointer;
}
.total-order{
	margin-bottom: -48px;
}
.spot-list{
	margin: 100px 0 50px;
}
.spot-list li{
	background: #f1f3f4;
	padding: 6px 40px;
	cursor: pointer;
	-webkit-transition: all linear .2s;
	-moz-transition: all linear .2s;
	-o-transition: all linear .2s;
	transition: all linear .2s;
}
.spot-list li:hover,
.spot-list li.active{
	background: #ebebec;
}
.tooltip{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	display: block;
	position: absolute;
	white-space: nowrap;
	height: 20px;
	left:70%;
	font-size: 14px;
	color: #0061FF;
	font-weight: 100;
	font-family: Arial, sans-serif;
	padding-left: 11px;
	-webkit-transition: all linear .2s;
	-moz-transition: all linear .2s;
	-o-transition: all linear .2s;
	transition: all linear .2s;

}
a:hover .tooltip,
a.active .tooltip{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	left:100%;
}
.add-spot-box{
	padding: 136px 0 44px;
}
.form-row{
	margin-bottom: 5px;
}
.form-row.toggle-active{
	margin-top: 2px;
}