.spot-button,
.button,
.spot-button:focus,
.button:focus{
	background-color: #E9EDF2;
	color: #000000;
	font-family: Mobispot,Arial,"Helvetica",Helvetica,sans-serif;
	font-size: 18px;
	display: inline-block;
	background-repeat: no-repeat;
	position: relative;
}
.bg-gray .button,
.bg-gray .spot-button,
.bg-gray input,
.bg-gray textarea,
.bg-gray .soc-link a{
	background-color: #fff;
}
.bg-white  .button,
.bg-white .spot-button,
.bg-white input,
.bg-white textarea{
	background-color: #E9EDF2;
}

.spot-button{
	-webkit-transition: color 600ms ease-out;
	-moz-transition: color 600ms ease-out;
	-o-transition: color 600ms ease-out;
	transition: color 600ms ease-out;
	-webkit-transition: background-color 600ms ease-out;
	-moz-transition: background-color 600ms ease-out;
	-o-transition: background-color 600ms ease-out;
	transition: background-color 600ms ease-out;
	font-size: 18px;
	font-weight: 100;
	height: 35px;
	line-height: 27px;
	padding: 4px 11px 2px;
	margin-bottom: 14px;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior:  url(/css/PIE.htc);
}
.row__head-slider .spot-button{
	background-color: #fff;
}
.row__head-slider .spot-button.opacity{
	background-color: #F7F8F8;
}
.row__head-slider .spot-button.opacity:hover,
.row__head-slider .spot-button.opacity.active,
.row__head-slider .spot-button.opacity.open{
	background-color: #0061FF;
}
.slide-box .spot-button{
	background: #fff;
}
.button:hover,
.button.active,
.button.open,
.spot-button:hover,
.spot-button.active,
.spot-button.open{
	background-color: #0061FF;
	color: #fff;
}

.store-items__description .spot-button:hover,
.choose li.active{
	background-color: #2b46ff;
	color: #fff;
}
.round-button-large{
	display: inline-block;
	height: 200px;
	width: 200px;
	line-height: 200px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #E9EDF2;
	color: #000;
	font-size: 48px;
	font-family: Mobispot, Arial, sans-serif;
	margin: 35px 0 102px;
	-webkit-transition: color 600ms ease-out;
	-moz-transition: color 600ms ease-out;
	-o-transition: color 600ms ease-out;
	transition: color 600ms ease-out;
	-webkit-transition: background-color 600ms ease-out;
	-moz-transition: background-color 600ms ease-out;
	-o-transition: background-color 600ms ease-out;
	transition: background-color 600ms ease-out;
}

.bg-gray .round-button-large{
	background-color: #fff;
}
.round-button-large:hover{
	background-color: #0061ff;
	color: #fff;
}
.total-order + .round-button-large {
	margin: 0;
}
.total-amount .spot-button{
	position: absolute;
	right: 0;
	bottom: 45px;
	padding: 4px 26px 2px;
}
.customer-info .spot-button{
	margin-top: 20px;
	padding: 4px 42px 2px;
}
.button.add-spot{
	height: 99px;
	width: 99px;
	line-height: 99px;
	-webkit-transition: color 600ms ease-out;
	-moz-transition: color 600ms ease-out;
	-o-transition: color 600ms ease-out;
	transition: color 600ms ease-out;
	-webkit-transition: background-color 600ms ease-out;
	-moz-transition: background-color 600ms ease-out;
	-o-transition: background-color 600ms ease-out;
	transition: background-color 600ms ease-out;
}
.button.add-spot .m-tooltip-open{
	display: block;
}
.button.add-spot .m-tooltip-close{
	opacity: 0;

}
.button.add-spot.open:hover .m-tooltip-close{
	opacity: 1;
	-webkit-transition: all linear .2s;
	-moz-transition: all linear .2s;
	-o-transition: all linear .2s;
	transition: all linear .2s;
}
.button.add-spot.open:hover .m-tooltip-open{
	opacity: 0;
	-webkit-transition: all linear .2s;
	-moz-transition: all linear .2s;
	-o-transition: all linear .2s;
	transition: all linear .2s;


}

.button.add-spot i{
	display: inline-block;
	float: left;
	color: #000;
	font-style: normal;
	font-size: 38px;
	width: 99px;
	text-align: center;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: -webkit-transform 600ms ease-out;
	-moz-transition: -moz-transform 600ms ease-out;
	-o-transition: -o-transform 600ms ease-out;
	transition: transform 600ms ease-out;
	font-weight: 100;
}
.button.add-spot:hover i,
.button.add-spot:active i,
.button.add-spot.open i{
	color: #fff;
}
.button.add-spot.open i{
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);

}
.radio-link i{
	display: inline-block;
	height: 14px;
	width: 14px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	border: 3px solid #0062ff;
	margin-right: 7px;
	position: relative;
	top:2px
}
.radio-link i.large{
	height: 19px;
	width: 19px;
	top:4px;
	margin-right: 11px;
}
.open > .radio-link{
	color: #0061ff;

}
.open > .radio-link i{
	background: #0061ff;
}
.checkbox,
.checkbox:hover{
	font-size: 14px;
	text-decoration: none;
	color: #FF0050;
	line-height: 21px;
}
.checkbox.active{
	color: #0061FF;
}

.checkbox i{
	display: inline-block;
	height: 20px;
	width: 20px;
	border: 1px solid #D6DDE4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #fff url("../images/icons/i-small.png") no-repeat -100%;
	margin-right: 7px;
	position: relative;
	top:5px
}
.checkbox.active i{
	background-position: -174px -41px;
}
.radio-link.open i,
.radio-link.active i,
.active .radio-link i{
	background: #0062ff;
	border: 4px solid #0062ff;
}
.radio-link.active,
.choose-type .radio-link{
	color:  #0062ff;
}
.choose-type .radio-link{
	margin-bottom: 10px;
	padding: 0;
	white-space: nowrap;
}
.soc-link .i-soc-fac{
	background-position: 12px 6px;
}
.footer-page .i-soc-fac,
.soc-link .i-soc-fac:hover{
	background-position: 12px -25px;
}
.soc-link .i-soc-twi{
	background-position: -18px 7px;
}
.footer-page .i-soc-twi,
.soc-link .i-soc-twi:hover{
	background-position: -18px -24px;
}
.soc-link .i-soc-goo{
	background-position: -53px 7px;
}
.soc-link .i-soc-goo:hover{
	background-position: -53px -24px;
}
.dropdown .options{
	display: none;
	background: #0061ff;
	margin-left: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin:-3px 0 14px;
	opacity: 0;
	position: absolute;
	width: 100%;

}
.dropdown:hover .spot-button{
	background-color: #0061FF;
	color: #FFFFFF;
	-webkit-transition: opacity 600ms ease-out;
	-moz-transition: opacity 600ms ease-out;
	-o-transition: opacity 600ms ease-out;
	transition: opacity 600ms ease-out;
}
.dropdown:hover .options{
	display: block;
	opacity: 1;
}
.dropdown .options li{
	display: block;
	margin-right: 0;
}
.dropdown .options a{
	color: #fff;
	display: block;
	text-align: left;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: normal;
	padding: 2px 11px;
}
.dropdown .options li:first-child a{
	padding-top: 6px;
}
.dropdown .options li:last-child a{
	padding-bottom: 6px;
}
.dropdown .options li a:hover{
	color: #000;
}
.dropdown{
	display: inline-block;
	position: relative;
}
.dropdown__light .options {
	margin: -12px 0 14px;
}

.dropdown__light .spot-button{
	font-family: Arial, sans-serif;
	font-size: 14px;
	height: 26px;
	line-height: 26px;
	padding: 0 15px;
}
.dropdown__light:hover .spot-button{
	background-color: #fff !important;
	color: #0062ff;
}
.dropdown__light .options{
	background-color: #fff;
}
.dropdown__light .options a{
	padding: 2px 15px;
}
.dropdown__light .options li a{
	color: #000;
}
.dropdown__light .options li a:hover{
	color: #0062ff;
}
.change-cover{
	position: absolute;
	right: 15px;
	bottom: 0;
	overflow: hidden;
}
.change-cover .options{
	display: block;
	position: relative;
	right: -999px;
}
.dropdown__light:hover .options{
	right: 0;
}
.change-cover{
	opacity: 0;
	-webkit-transition: all linear .6s;
	-moz-transition: all linear .6s;
	-o-transition: all linear .6s;
	transition: all linear .6s;
}
.bubbles-slider:hover .change-cover,
.header-top:hover + .bubbles-slider .change-cover{
	opacity: 1;
}
.spot-list .spot-button{
	min-width: 155px;
}
.spot-options{
	padding-bottom: 14px;
}

.spot-options a{
	display: block;
	margin-top: -4px;
}
.spot-options a:first-child{
	margin-top: 0;
}
footer .button,
.sub-content .button{
	height: 100px;
	width: 100px;
	line-height: 100px;
	text-align: center;
	margin-right: 24px;
	font-weight: 100;
	font-size: 24px;
	display: block;
	float: left;
	margin-bottom: 50px;

	-webkit-transition: color 600ms ease-out;
	-moz-transition: color 600ms ease-out;
	-o-transition: color 600ms ease-out;
	transition: color 600ms ease-out;
	-webkit-transition: background-color 600ms ease-out;
	-moz-transition: background-color 600ms ease-out;
	-o-transition: background-color 600ms ease-out;
	transition: background-color 600ms ease-out;

}
footer .button:hover + .active,
.sub-content .button:hover + .active{
	background: #fff;
	color: #000;
}

.go-button{
	height: 94px;
	width: 94px;
	line-height: 96px;
	font-size: 23px;
}
.checkbox{
	display: inline-block;
	min-width: 100px;
}
.sub-content{
	display: none;
	overflow: hidden !important;
}
.spot-list .spot-hat-button{
	margin: 12px 0 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	-webkit-transition: opacity linear .3s;
	-moz-transition: opacity linear .3s;
	-o-transition: opacity linear .3s;
	transition: opacity linear .3s;
	position: absolute;
	top: 16px;
	right: 40px;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	-o-transition-delay: 100ms;
	transition-delay: 100ms;
}
.spot-list .spot-hat-button:after{
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
	z-index: 10;
}

.open .spot-hat-button{
	display: block;
}
.open .spot-hat-button:after{
	 display: none;
 }
.spot-hat-button li{
	display: inline-block;
	margin-left: 44px;
	vertical-align: top;
	line-height: 34px;
}
.spot-list .open .spot-hat-button{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	z-index: 10;

}


.spot-list .spot-button.wallet-button {
	min-width: 0;
	padding-right: 16px;
	color: #ccaf3b;
}
.spot-list .spot-button.wallet-button i{
	font-family: mobispot-icon;
	font-style: normal;
	color: #000;
	margin: 0 11px 0 5px;
	display: block;
	float: left;
	line-height: 25px;
}
.spot-list .spot-button.wallet-button:hover:before{
	background-position: 0 -24px ;
}
.b-account{
	color: #ffec15;
}
.spot-list .spot-button.b-negative,
.b-negative{
	color: #ff2400;
}
.spot-list .spot-button.b-positive,
.b-positive{
	color: #30d874;
}
.spot-list .spot-button.wallet-button:hover{
	color: #fff;
}
.popup .b-short-input{
	width: 257px;
	float: left;
	margin-right: 20px;
	height: 35px;
}
.b-input-number{
	width: 118px;
}
.b-input-number input{
	float: left;
	height: 70px;
	width: 70px;
	margin-right: 2px;
}
.b-input-number span{
	display: inline-block;
	height: 34px;
	width: 46px;
	background: #E9EDF2 url('../images/icons/i-small.png') no-repeat;
	cursor: pointer;
}
.bg-gray .b-input-number span{
	background: #fff;
}
.b-input-number span:hover{
	background-color: #0061ff;
}
.b-input-number .number-up{
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	background-position:-76px -112px;
}
.b-input-number .number-down{
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	background-position: -119px -112px;
}
.b-input-number .number-up:hover{
	background-position: 8px -112px;
}
.b-input-number .number-down:hover{
	background-position: -32px -112px;
}
.b-input-number_small input{
	height: 35px;
	margin-right: -26px;
	padding-right: 28px;
}
.b-input-number.b-input-number_small{
	width: 70px;
}
.b-input-number.b-input-number_small span{
	height: 11px;
	background-color: #fff;
	width: 21px;
}
.b-input-number.b-input-number_small span:hover{
	background-color: #0061ff;
}
.b-input-number.b-input-number_small .number-up{
	margin-top: 5px;
}
.b-input-number_small .number-up{
	background-position: -88px -143px;
}
.b-input-number_small .number-down{
	background-position: -131px -143px;
}
.b-input-number_small .number-up:hover{
	background-position: -4px -143px;
}
.b-input-number_small .number-down:hover{
	background-position: -44px -143px;
}
.spot-local-preload {
	position: relative;
}
.spot-local-preload .b-preload{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	background: rgba(255,255,255,.7);
}
.spot-local-preload .b-preload img{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -10px;
}
.form-line .spot-button{
	margin-bottom: 0;
}
.form-link{
	color: #0061ff;
	display: block;
	float: right;
	margin-bottom: 12px;
	margin-top: 3px;
	font-size: 14px;
}
.columns .spot-button{
	margin-bottom: 5px;
	text-align: center;
}
.spot-hat-button a{
	font-size: 30px;
	font-family: Mobispot, arial, sans-serif;
	-webkit-transition: color 600ms ease-out;
	-moz-transition: color 600ms ease-out;
	-o-transition: color 600ms ease-out;
	transition: color 600ms ease-out;
	margin-left: 10px;
	line-height: 36px;
}
.spot-hat-button a:hover{
	color: #0063ff;
}
a.icon-spot-button{
	color: #fff;
	font-size: 33px;
	-webkit-transition: color 600ms ease-out;
	-moz-transition: color 600ms ease-out;
	-o-transition: color 600ms ease-out;
	transition: color 600ms ease-out;
	line-height: 33px;
}
.icon-spot-button:hover{
	color: #0063ff;
}
.cover-fast-link .icon{
	font-size: 34px;
	margin: 3px 7px;
	display: inline-block;
	-webkit-transition: color 600ms ease-out;
	-moz-transition: color 600ms ease-out;
	-o-transition: color 600ms ease-out;
	transition: color 600ms ease-out;
	position: relative;
	z-index: 40;
	color: #000;
}
.cover-fast-link .icon:hover,
.cover-fast-link .icon.open{
	color: #0063ff;
}
.cover-fast-link input{
	display: none;
}
.cover-sub-link {
	margin: 0;
	text-align: right;
	margin-right: 30px;
	height: 0;
	position: relative;
	z-index: 30;
}
.cover-sub-link li{
	background: #fff;
display: inline-block;
	text-align: center;
	height: 32px;
	width: 32px;
	line-height: 32px;
	position: relative;
	top: -16px;
	margin-left: 5px;
	cursor: pointer;
	font-size: 14px;
}
.spot-list li .cover-sub-link li:hover,
.spot-list li .cover-sub-link li.open,
.spot-list li .cover-sub-link li.active{
	background: #0063ff;
	color: #fff;
}
.cover-sub-link li.i-round-fb.active{
	background: #617ABA;
	color: #fff;
}
.cover-sub-link li.i-round-twi.active{
	background: #96CBEF;
	color: #fff;
}
.soc-link.gray a{
	background: #E9EDF2;
}
.soc-link + .sub-txt{
	margin-top: 10px;
}
.form-soc-link{
	display: block;
	text-align: center;
	margin: 27px 0 16px;
}
.form-soc-link.soc-link  a{
	height: 42px;
	width: 42px;
	line-height: 42px;
	font-size: 20px;
	margin: 0 19px;
}
.form-soc-link.soc-link a.active{
	background: #0063ff;
	color: #fff;
}
.go-button.big{
	height: 180px;
	width: 180px;
	line-height: 180px;
	font-size: 23px;
	font-weight: 100;
}
.form__reg .go-button.big {
	margin: 30px 0 0;
}
.green-button{
	color: #30D874 !important;
}
.spot-button.green-button:hover{
	color: #fff !important;
	background: #30D874 !important;
}
.spot-button__g{
	text-decoration: underline;
}
.spot-button__link{
	float: right;
	font-size: 13px;
	margin: 12px 0;
	color: #0061FF;
}