html,body {
	height: 100%;
}

body{
	font-size: 87%;
	min-width: 1000px;
}


@font-face {
	font-family: Mobispot;
	src: url('../fonts/mobispot-webfont.eot');
	src: url('../fonts/mobispot-webfont.eot?iefix') format('eot'),
	url('../fonts/mobispot-webfont.woff') format('woff'),
	url('../fonts/mobispot-webfont.ttf') format('truetype'),
	url('../fonts/mobispot-webfont.svg#webfontjSpbZQRv') format('svg');
}
@font-face {
	font-family: Mobispot-icon;
	src: url('../fonts/mobispot-icon.eot');
	src: url('../fonts/mobispot-icon.eot?iefix') format('eot'),
	url('../fonts/mobispot-icon.woff') format('woff'),
	url('../fonts/mobispot-icon.ttf') format('truetype'),
	url('../fonts/mobispot-icon.svg#webfontjSpbZQRv') format('svg');
}
.color{
	color: #0062ff;
}
.content-wrapper{
	min-height: 100%;
	margin-bottom: -258px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;

}
.content-wrapper:after{
	content: "";
	display: block;
	height: 350px;
	width: 100%;
}
li{
	list-style: none;
}
.logo a{
	display: block;
	max-width: 207px;
}

::-webkit-input-placeholder {color:#000 !important;}
::-moz-placeholder {color:#000 !important;}
:-ms-input-placeholder { color:#000!important; }
input:-moz-placeholder { color:#000!important; }

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: block;
}
.clear{
	clear: both;
	float: none;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}
.table-reset{
	background: none;
	border: 0;
	margin: 0;
	border-spacing: 0;

}
.table-reset tbody tr:nth-child(2n){
	background: none;
}
.round{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	behavior: url(/css/PIE.htc);
}
.slow{
	-webkit-transition: color linear .2s;
	-moz-transition: color linear .2s;
	-o-transition: color linear .2s;
	transition: color linear .2s;
	-webkit-transition: background linear .2s;
	-moz-transition: background linear .2s;
	-o-transition: background linear .2s;
	transition: background linear .2s;
	-webkit-transition: opacity linear .2s;
	-moz-transition: opacity linear .2s;
	-o-transition: opacity linear .2s;
	transition: opacity linear .2s;
}
.hide{
	display: none;
}
.overflow-h{
	overflow: hidden;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	display: none;
	-webkit-appearance: none;
	margin: 0;
}
.icon{
	font-family: mobispot-icon !important;
}
